*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #162b91;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
h1{
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}
.search-box{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:15px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom:16px;
    transition: 0.4s;
    margin-top: 10px;
}
.search-box input{
    display: block;
    appearance: none;
    outline: none;
    border: none;
    padding: 16px;
    width: 100%;
    transition: 0.4s;
    font-size: larger;
}
.search-box:focus-within{
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
}
.results{
    max-width: 768px;
    margin: 0 auto ;
}

.result{
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #fff;
}
.result:hover{
    transform: scale(.98);
    transition: .4s;
}
.result h3{
    color: #fff;
    font-size: 28px;
    margin-bottom:15px ;
    border-bottom: 1px solid #fff;
}
.result p{
    color: #fff;
    font-size: 18px;
    margin-bottom:16px;
}
.result p .searchmatch{
    font-weight: 900;
}
.result a{
    display: inline-block;
    padding: 12px 15px;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.4s;
}
.result a:hover{
    background-color: #f2f8fb;
}
.result a:active{
    transform: scale(.97);
}
.total_results{
    color: #fff;
    font-size: larger;
    text-decoration:underline;
    margin-right: 8px;
}
.count{
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;

}
::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius:0;
    background: #01082c;
  }
@media (min-width: 320px) and (max-width: 480px) {
   .App{
    margin-left: 12px;
    margin-right: 12px;
   }
   .result a{
   width: 100%;
   text-align: center;
}
  }